* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  color: #000000;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

body.locked {
  overflow: hidden;
}

.bottom__img {
  margin: 0 auto;
  max-width: 100%;
  height: 340px;
  background: url("../img/bottom__img.png") center/cover no-repeat;
}

.premium__menu {
  margin-bottom: 140px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

nav {
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 940px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 28px;
}

.logo a .logo__icon {
  margin-left: 20px;
  margin-right: 20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-top: 2px;
  margin-left: 30px;
}

.menu__item-link {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.burger {
  display: none;
  cursor: pointer;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid rgba(162, 95, 75, 0.3);
  cursor: pointer;
}

.cart span {
  margin-top: 2px;
  margin-left: 10px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.cart__numbers {
  margin-top: 3px;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1D1F2E;
  width: 20px;
  height: 18px;
  border-radius: 9px;
}

.cart__numbers span {
  margin: 0 auto;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.preview {
  padding-top: 159px;
  padding-bottom: 159px;
  margin: 0 auto;
  max-width: 940px;
  height: 530px;
  background: url("../img/preview__bg.png") center/cover no-repeat;
}

.preview__section {
  background: #050827;
}

.preview__titles {
  margin: 0 auto;
}

.preview__titles h2 {
  margin: 10px 0px 10px 0px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}

.preview__top-title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.preview__bottom-title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.preview__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  margin: 0 auto;
  margin-top: 48px;
  height: 18px;
  max-width: 231px;
  -webkit-box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
          box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  border-radius: 0px;
  cursor: pointer;
}

.preview__btn a {
  margin: 0 auto;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.catalog {
  margin: 0 auto;
}

.catalog__section {
  padding-top: 120px;
}

.catalog__titles {
  margin: 0 auto;
  max-width: 658px;
  text-align: center;
}

.catalog__top-title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #1D1F2E;
}

.catalog__main-title {
  margin: 16px 0px 21px 0px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(29, 31, 46, 0.7);
}

.catalog__link a {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #A25F4B;
}

.featured__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured__title-text {
  margin: 0px 15px 0px 15px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.featured__menu {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured__menu-item {
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

.featured__menu-item h3 {
  margin-top: 35px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1D1F2E;
}

.titles__line {
  width: 30px;
  height: 1px;
  background: #ECECED;
  border-radius: 0px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(29, 31, 46, 0.7);
}

.new__price {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  /* identical to box height, or 168% */
  text-align: center;
  color: #A25F4B;
}

.old__price {
  margin-left: 10px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgba(29, 31, 46, 0.4);
}

.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.products__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__title-text {
  margin: 0px 15px 0px 15px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.products__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  margin: 0 auto;
  max-width: 960px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__menu-item {
  margin: 0px 9px 0px 9px;
  cursor: pointer;
}

.products__menu-item h3 {
  margin: 35px 0px 5px 0px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1D1F2E;
}

.special__title {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special__title-text {
  margin: 0px 15px 0px 15px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.premium__menu {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.premium__menu-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.premium__menu-img-1 {
  margin-right: 20px;
}

.premium__menu-imgs-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.premium__menu-img-2 {
  margin-bottom: 10px;
}

.premium__menu-img-3 {
  margin-top: 10px;
}

.premium__menu-titles {
  margin-left: 20px;
}

.premium__menu-top_title {
  margin-left: 60px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.premium__menu-main_title {
  max-width: 237px;
  margin: 15px 0px 15px 60px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: #1D1F2E;
}

.premium__menu-bottom_title {
  max-width: 353px;
  margin-left: 60px;
  margin-bottom: 38.5px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}

.premium__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-left: 60px;
  max-width: 173px;
  height: 36px;
  background: #1D1F2E;
  border-radius: 0px;
  cursor: pointer;
}

.premium__menu-btn a {
  padding-top: 9px;
  margin: 0 auto;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.stories__section {
  padding-top: 90px;
  padding-bottom: 152px;
}

.stories__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stories__title-text {
  margin: 0px 15px 0px 15px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.stories__menu {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 960px;
}

.stories__menu-item {
  margin: 0px 10px 0px 10px;
}

.stories__menu-item h3 {
  max-width: 272px;
  margin-top: 24.84px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #1D1F2E;
}

.stories__menu-item p {
  max-width: 281px;
  margin: 14px 0px 16px 0px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}

.stories__menu-item-img_2 {
  margin-top: -33px;
}

.date {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.updates {
  margin-top: 80px;
  padding-bottom: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.updates__section {
  padding-top: 82px;
  background: #1D1F2E;
}

.updates__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.updates h2 {
  margin: 15px 0px 25.2px 0px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__btn {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 129px;
  height: 54px;
  background: #FFFFFF;
  cursor: pointer;
}

.form__btn a {
  margin: 19px 25px 19px 25px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.input__form {
  width: 320px;
  height: 54px;
  text-align: center;
  background-color: #1D1F2E;
  border: 1px solid #2F303E;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__frame-info {
  max-width: 258px;
  margin-right: 55.33px;
}

.footer__frame-info p {
  margin: 23px 0px 80px 0px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
}

.footer__frame-info span {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
}

.footer__frame {
  margin-right: 55px;
}

.footer__frame p {
  margin-bottom: 23px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.footer__frame li {
  margin-bottom: 11px;
}

.footer__frame li a {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
}

.footer__frame-contact-top {
  margin-bottom: 23px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.footer__frame-contact-main {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  color: rgba(29, 31, 46, 0.7);
}

.footer__frame-contact-link {
  margin: 16px 0px 35px 0px;
}

.footer__frame-contact-link a {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  color: #1D1F2E;
}

.footer__frame-contact-bottom {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1380px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: white;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .cart {
    margin-left: auto;
    margin-right: 30px;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: "black";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: "black";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: "black";
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: "black";
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 15px;
  }

  .menu__item-link {
    color: black;
  }

  .premium__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .premium__menu-titles {
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}

@media screen and (max-width: 767.98px) {
  .featured__menu-item__photo {
    max-width: 100%;
  }

  .premium__menu-img-1 {
    width: 180px;
    height: 180px;
  }

  .premium__menu-img-2 {
    width: 80px;
    height: 80px;
  }

  .premium__menu-img-3 {
    width: 80px;
    height: 80px;
  }

  .premium__menu-titles {
    margin-top: 20px;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .footer__frame {
    margin-top: 30px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

@media screen and (max-width: 479.98px) {
  .cart {
    display: none;
  }

  .cart.active {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin-left: 60px;
    z-index: 130;
  }

  .premium__menu-titles {
    margin-right: 200px;
  }

  .input__form {
    width: 160px;
  }
}